/*
	SASS for use in bundle component
	edit as needed
*/
.ss__easy-add {
	width: 100%;
	border: 2px solid black;
	padding: 5px;

	.ss__recommendation-bundle__wrapper__cta {
		.ss__button {
			border: 3px solid black;
			background: white;
			color:black;
		}
	}
}